$primary: #06232c;
$accent: #364550;
$tertiary: #f9dcd3;

.accent {
  color: $accent;
}

.border {
  border-radius: 0.4em;
  border: solid 2px;
  border-color: #cccccc70;
}

.flex_row {
  display: flex;
  flex-flow: row;
}
